<component name="ArtifactManager">
  <artifact type="war" name="springsqlsever:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springsqlsever.war">
      <element id="artifact" artifact-name="springsqlsever:war exploded" />
    </root>
  </artifact>
</component>